:host {
    display: block;
}

.custom-tab-menu {
    border-bottom: 1px solid grey;
}

@media screen and (min-width: 769px) {
    /*.custom-tab-item {
        width: 50% !important;
        min-width: min-content;
    }

    .custom-tab-menu {
        display: block;
    }*/

    .custom-tab-menu {
        display: flex;
        justify-content: center;
        padding-bottom: 0px;
        /*border-bottom: 1px solid black;*/
        margin-left: 3%;
        margin-right: 3%;
    }
    .custom-tab-item {
        width: 300vw !important;
        max-width: 200px !important;
    }
}