:host {
    display: block;
}

.field button {
    margin-top: 5px;
}

button {
    text-align: left;
    display: inline-block !important;
}

/* The below class allows text to wrap within the buttons. */
.wrap-override {
    white-space: normal;
    height: unset;
    min-height: 2.25em;
}

/* Only apply this style on mobile. */
@media (max-width:800px) {
    .section {
        padding-top: 24px !important;
    }
}