<section class="section">
  <!-- Attempt to make card chooser.-->
  <div class="container box-no-mobile box-evs">
    <div *ngFor="let card of cardsToStudy; index as i" class="field">
      <button class="button is-light has-text-left is-fullwidth wrap-override" [innerHTML]="card.title" (click)="logClick(i)" routerLink="/study/{{query}}/{{queryterm}}/card/{{i}}"></button>
    </div>
    <div *ngIf="cardsToStudy.length === 0" class="notification is-danger">
      No cards were found under that selection (<b>{{ query }} → {{ queryterm }}</b>).<span class="icon is-pulled-right"><i class="fa fa-exclamation-triangle"></i></span>
    </div>
  </div>
</section>