<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        About
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container content">
    <p>This app was written by <em>Lawrence Adams</em> in order to help students study for and practice their <em>Clinical Skills</em>      for OSCEs.</p>
    <p>To use this app simply press <em>Start Studying</em> on the <a routerLink="/home"><b>Home Page</b></a>. Then, find cards
      you wish to study depending on whether you would like to search cards by Year of topic Studied, Body System, or Card
      Type.
  </div>
</section>