<section class="section">
  <div class="container box-evs box-no-mobile">
    <!--<p class="subtitle has-text-centered">Welcome to the Communication Skills Flashcard App</p>-->
    <div class="field g-mozfix">
      <a href="https://mbchb.dundee.ac.uk"><button class="g-mozfix button is-medium is-light has-text-left is-fullwidth">MBChB Home <span class="icon is-pulled-right"><i class="fa fa-home"></i></span></button></a>
      <a href="https://mbchb.dundee.ac.uk/commskills/"><button class="g-mozfix button is-medium is-light has-text-left is-fullwidth">Dundee Chat <span class="icon is-pulled-right"><i class="fa fa-commenting"></i></span></button></a>
    </div>
  </div>
</section>