<nav class="nav has-shadow">
  <div class="nav-left" *ngIf="!isStudying; else studyNavBar">
    <a class="nav-item" [routerLink]="['/home']">Home</a>
    <a class="nav-item" [routerLink]="['/about']">About</a>
    <a class="nav-item" [routerLink]="['/legal']">Legal</a>
  </div>
  <ng-template #studyNavBar>
    <div class="nav-center">
      <a class="nav-item" (click)="previousCardClick()">
        <span class="icon">
          <i class="fa fa-arrow-left"></i>
        </span>
    </a>
      <a class="nav-item" (click)="nextCardClick()">
        <span class="icon">
          <i class="fa fa-arrow-right"></i>
        </span>
      </a>
    </div>
  </ng-template>
</nav>

<div style="padding-top: 3rem !important;">
  <router-outlet></router-outlet>
</div>