<section class="section">
  <!-- Attempt to make card chooser.-->
  <div class="card-container">
    <div class="flip-container" [class.flip]="isFlipped">
      <div class="flipper">
        <div class="front" [innerHTML]="cardsToStudy[currentCardIndex].front" (click)="toggleFlip()" fragment="top">
          <!-- front content -->
        </div>
        <div class="back" [innerHTML]="cardsToStudy[currentCardIndex].back | safeHTML" (click)="toggleFlip()" fragment="top">
          <!-- back content -->
        </div>
      </div>
    </div>
  </div>
</section>