:host {
    display: block;
}

button {
    text-align: left;
    display: inline-block !important;
    line-height: unset; /* Fixes strage floating text when adding icon is-pulled-right */
}

ul li {
    list-style: none;
}

.field button {
    margin-top: 10px;
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:801px)  { 
    img {
        max-width: 500px;
        margin: 0 auto;
    }
}