<section class="section">
  <div class="container box-evs">
    <!--<p class="subtitle has-text-centered">Welcome to the Communication Skills Flashcard App</p>-->
    <span style="width: 100%; height: 5rem;">
    <img src="./assets/images/ccs_logo.png" alt="" class="image">
    </span>
    <!--<hr style="margin-bottom: 12px">-->
    <div class="field g-mozfix">
      <a href="https://mbchb.dundee.ac.uk"><button class="g-mozfix button is-medium is-light has-text-left is-fullwidth">MBChB Home <span class="icon is-pulled-right"><i class="fa fa-home"></i></span></button></a>
      <app-menu-builder [menuInputObject]="mainMenuOptions"></app-menu-builder>
    </div>
  </div>
</section>