<!--<div class="ui four column container raised segment">
  <p>Welcome to the Communication Skills Flashcard App</p>
  <ul class="ui middle aligned selection list">
    <a class="item" href="https://mbchb.dundee.ac.uk">MBChB Dundee <i class="right floated building icon"></i></a>
    <a class="item" [routerLink]="['/about']">About <i class="right floated info icon"></i></a>
    <a class="item" [routerLink]="['/legal']">Legal <i class="right floated law icon"></i></a>
    <a class="item" [routerLink]="['/studyby']">Start Studying <i class="right floated treatment icon"></i></a>
  </ul>
</div>-->

<div class="container">
  <p>Welcome to the Communication Skills Flashcard App </p>
  <div class="columns">
    <div class="item"><button class="button is-light" href="https://mbchb.dundee.ac.uk">MBChB Home <i class="right floated building icon"></i></button></div>
    <div class="item" *ngFor="let option of mainMenuOptions">
      <button class="button is-light" [routerLink]="option.routerLink" [innerHTML]="option.text" [class.is-primary]="option.color"></button></div>
  </div>
</div>